@import "../../styles.scss";

.topbar {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100vw;

  &-title {
    padding: 0px 50px;
  }

  &-actions {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-light);
    padding: 0px 50px;
  }
}

.modal {
  width: 60%;
  background-color: var(--background-color);
  color: white;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-close {
    cursor: pointer;
  }
}
