<form [formGroup]="modelForm" (ngSubmit)="submitForm()" class="form-model">
  <label for="name">Nom du modèle</label>
  <input type="text" formControlName="name" />
  <label for="author">Auteur</label>
  <input type="text" formControlName="author" />
  <label for="polygons">Polygone</label>
  <input type="number" formControlName="polygons" />
  <label for="fileName">Nom du fichier</label>
  <input type="text" formControlName="modelName" />
  <label for="description">Description</label>
  <textarea cols="30" rows="10" formControlName="description"></textarea>
  <div class="form-action">
    <button type="submit" class="button-primary">Enregistrer</button>
  </div>
</form>
